<div>  <%= link_to 'Refresh',status_test_path, :class=>'btn btn-link' %></div>
<%= high_chart("some_id",@charttemp)%>
<h1></h3
><%= high_chart("some_shidu",@chartshidu)%>
<h1></h3>
<%= high_chart("some_smokw",@chartsmoke)%>


